In [53]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [54]:
df = pd.read_csv("newly_truncated_value2.csv")

df.head()

     0    1             2             3    4        5        6        7
0  0.0  0.5  2.179346e-30  9.554672e-30  0.0  0.99997  0.99993  1.00000
1  0.0  0.0  9.554672e-30  9.200899e-30  1.0  0.99993  0.99997  1.00000
2  0.0  0.0  7.981269e-30  9.554672e-30  0.0  0.99994  0.99993  1.00000
3  0.0  0.0  9.554672e-30  9.200899e-30  1.0  0.99993  0.99997  1.00000
4  0.0  0.0  5.671957e-30  9.554672e-30  0.0  0.99993  0.99993  0.99999

In [55]:
X = np.array(df.drop(['5','6','7'],1))
y = np.array(df['7'])
y = y.astype("int")

In [56]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [58]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [59]:
#Applying Linear Discriminant Analysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis(n_components = 2)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

/home/seema/major/lib/python3.5/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [61]:
#Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)
 
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [62]:
LogisticRegression(y_test,y_pred)

LogisticRegression(C=1.0, class_weight=None, dual=array([0, 1, ..., 0, 0]),
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty=array([0, 1, ..., 0, 1]),
          random_state=None, solver='liblinear', tol=0.0001, verbose=0,
          warm_start=False)

In [63]:

pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    0   1  All
True
0          116  38  154
1           92  44  136
All        208  82  290

In [64]:
#import classification_report
from sklearn.metrics import classification_report

In [65]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.56      0.75      0.64       154
          1       0.54      0.32      0.40       136

avg / total       0.55      0.55      0.53       290